.Pokedex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0, 2rem auto auto;
    padding: 1rem 4rem;
    background-color: rgb(251, 198, 133);

}
